body{
    background-color: blue;
}

#box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.giftBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    transition: transform 0.2s;
}

.bigGiftBox{
    grid-column: span 2;
    background-color: gold;
    font-weight: bold;
}

.lastGiftBox{
    grid-column: span 2;
    grid-row:span 2;
    background-color: red;
    color: white;
}

.giftBox:hover {
    transform: scale(1.1);
}

.opened {
    background-color: green;
    color: white;
    cursor: not-allowed;
}
